[submodule "ros2_ws"]
	path = ros2_ws
	url = https://github.com/Drone-Home/drone-home
[submodule "computer_vision"]
	path = computer_vision
	url = https://github.com/Drone-Home/OpenCV
[submodule "user_interface"]
	path = user_interface
	url = https://github.com/Drone-Home/RCFLASK
[submodule "recharging_port"]
	path = recharging_port
	url = https://github.com/Drone-Home/Recharging_Port
